<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoCoin ガチャ</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Shippori Mincho B1', serif;
            text-align: center;
            line-height: 0.5cm;
            color: gainsboro;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
        h1 {
            font-weight: bold;
            font-size: 40px;
        }
        div {
            font-size: 15px;
        }
    </style>
</head>
<body bgcolor="black">
    <h1>CryptoCoin ガチャ</h1>

    <div><%= number %></div>
    <div>
        <%= result %>
    </div>
    <div>
        <%= txhash %>
    </div>
    <div>
        <%= txkey %>
    </div>
    <div><a href="/">Go Back to Homepage</a></div>
</body>
</html>
